{% extends 'layouts/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}


{% block content %}
    <div class="search">
        <form action="/products/" method="get">
            <input type="text" name="search">
            <input type="submit" value="search">
        </form>
    </div>
    <div class="posts">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                {% if product.image %}
                    <img src="/media/{{ product.image }}" alt="image not found :(">
                {% else %}
                    <img src="/media/Без%20названия.png" alt="">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <h6 class="card-subtitle">{{ product.description }}</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/products/{{ product.id }}/" class="btn btn-primary">Обзоры</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in max_page %}
            <a href="/products/?page={{ page }}"><button>{{ page }}</button></a>
        {% endfor %}
    </div>
{% endblock %}

